<h1>Welcome to Yelpdemo</h1>
<h3>This is one of the sample application for <%= link_to 'BaseRails', "http://www.baserails.com" %>, a platform that 
teaches people to build awesome custom websites with the Ruby on Rails programming
language.  Sing up and start learning today</h3>


